body {
    background-color: black;
    color:#ffefd5;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* contenu */
main {
    flex-grow: 1; 
    flex-direction: column;
}


.contenu {
    position: relative;
}

.texte {
    height: auto; 
    position: relative;
    padding-bottom: 2rem; 
}

.image { 
    display: flex;
    justify-content: center;
}


#photo {
    padding-bottom: 3rem;
    width: 15%;
}

h3 {
    font-family: 'Poiret One', sans-serif;
    font-size: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    line-height: 3rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

#deux, #trois {
    font-family:'Raleway', sans-serif;
    font-size: 1.25rem ;
    margin-left: 5rem;
    line-height: 3rem;
    text-align: center;
}

#deux {
    margin-bottom: 3rem;
    margin-right: 5rem;
}


#trois {
    margin-right: 5rem;
}

/*footer*/

.imageBM {
    text-align: center;
    padding: 1rem;
}
.BM{
    width: 30%;

}

/* responsive design */
@media only screen and (max-width:975px) {
   #un {
      margin-top: 2rem;
      padding-top: 1rem;
    }
    #un{
      font-size: 1.5rem;
    }
  }


@media only screen and (max-width:430px){
  #deux, #trois {
   margin-right: 1rem;
   margin-left: 1rem;
  }


  #un {
    margin-bottom: 2rem;
    padding-top: 1.5rem;
  }

  #photo {
    padding-bottom: 0;
  }

  #deux {
    margin-top: 2rem;
    margin-bottom: 1.75rem;
  }

  .imageBM{
    padding: 0;
  }

}